.loginpage-container{
    background-color: white;
    width: 30%;
   border-radius: 25px;
   margin: 5%;
   font-family:cursive;
   
}
.loginpage-input{
    border-radius: 9px;
    background-color:#D3D3D3;
    border-color: #D3D3D3;
    border:solid #D3D3D3;
    margin-left: 20%;
    height: 40px;
    width: 60%;
}

.login-heading{
    padding-top: 30px;
    text-align: center;
}
.loginpage-lable{
    margin: 20%;
}
.loginpage-submitbutton{
    border-radius: 9px;
    background-color:#2F356D;
    border-color: #2F356D;
    border:solid #2F356D;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 20%;
    height: 40px;
    width: 60%;
    color: white;
    font-family:cursive;
   
}
.signup-redirecting{
    text-align: center;
    color:rgb(246, 142, 16);
    margin: 20%;

}
